*
!envs
!envs/*
!intermediate
!logs
!resources
!resources/*
!rules
!rules/*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!target
!Snakefile
!config.yaml
!samples.tsv
!environment.yaml
!LICENSE
!README.md
!.test
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
