*
!config
!config/*
!envs
!envs/*
!resources
!resources/*
!rules
!rules/*
!schemas
!schemas/*
!scripts
!scripts/*
!Snakefile
!.gitignore
!.gitattributes
!.editorconfig
!.test
!.test/config
!.test/config/*
!LICENSE
!README.md
